<div class="row">
    <div class="col-md-4">
      <section class="user-info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form'%>
      </section
    </div>
