<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Newstaff App", root_path, id: "logo" %>
  <nav>
    <ul class="navv navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", helf_path %></li>
      <li><%= link_to "Log in", '#'%></li>
    </ul>
  </nav>
</div>
</header>
